.pz-button:before, .pz-button:after {
  content: '';
  flex: 1 0 auto;
}

.pz-button {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: inset hsla(0,0,100%,0.5) 0 0 0.5em;

  padding: 0 0.75em;
  margin: 0;

  font-weight: 400;
  height: 2em;
  line-height: 1;

  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  text-align: center;
}

.pz-button:hover {
  box-shadow: inset #fff 0 0 0.75em;
  color: #000;
  text-decoration: none;
}

.pz-button.disabled, .pz-button[disabled] {
  opacity: 0.333;
  cursor: not-allowed;
  user-select: none;
  color: #999;
}
.pz-button.disabled:focus, .pz-button[disabled]:focus {
  outline: none;
}

.pz-button.pz-button-link {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  color: #0c9;
  padding: 0 0.5em;
}
.pz-button.pz-button-link:hover {
  background: transparent;
  box-shadow: none;
}

.pz-button.pz-button-small {
  height: 1.5em;
  font-size: 0.75em;
  line-height: 1em;
  padding: 0 1em;
}

.pz-button.pz-button-small i.fa {
  font-size: 0.75em;
  line-height: 1;
}

.pz-button.pz-button-large {
  height: 3em;
  font-size: 1.25em;
  font-weight: normal;
  padding: 0 1em;
}
