.ni-btn {
  padding: 0;
  border: none;
  background: transparent;
  text-decoration: none !important;
  -webkit-appearance: none;
  margin: 0;
  display: inline-block;
  font-size: 16px;
}
/* fix firefox padding */
.ni-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.ni-btn-container::before,
.ni-btn-container::after {
  content: '';
  flex: 1 0 auto;
}
.ni-btn-container {
  font-family: system, -apple-system, BlinkMacSystemFont, "Roboto", "Seogue UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  height: 2em;
  line-height: 1;
  color: #000 !important;

  padding: 0 0.75em;
  margin: 0;
  
  background: #fff;
  border: 1px solid #ccc;

  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
}

.ni-btn-container:hover {
  color: #000;
  text-decoration: none;
}

.ni-btn-icon {
  font-size: 1em;
  line-height: 1;
}
.ni-btn-icon + .ni-btn-value {
  padding-left: 0.5em;
}

.ni-btn-container.disabled, .ni-btn[disabled] {
  opacity: 0.333;
  cursor: not-allowed;
  user-select: none;
  color: #999 !important;
}
.ni-btn-container.disabled:focus, .ni-btn[disabled]:focus {
  outline: none;
}

/* right aligned icons */
.ni-btn-container.ni-btn-icon-right {
  flex-direction: row-reverse;
}
.ni-btn-container.ni-btn-icon-right .ni-btn-icon + .ni-btn-value {
  padding-left: 0;
  padding-right: 0.5em;
}

.ni-btn-container.ni-btn-size-sm {
  font-size: 0.75em;
  height: 1.5rem;
  line-height: 1rem;
  padding: 0 1rem;
}

.ni-btn-container.ni-btn-size-sm i.fa {
  font-size: 0.75rem;
  line-height: 1;
}

.ni-btn-container.ni-btn-size-lg {
  font-size: 1.125em !important;
  height: 3rem;
  font-weight: normal;
  padding: 0 1rem;
}

.ni-btn-container.ni-btn-theme-alpha-black {
  color: #fff !important;
  background: hsla(0,0%,0%,0.2);
  border: none;
}
.ni-btn-container.ni-btn-theme-alpha-black:hover { background: hsla(0,0%,0%,0.3); }
.ni-btn-container.ni-btn-theme-alpha-black:active { background: hsla(0,0%,0%,0.4); }

.ni-btn-container.ni-btn-theme-tendermint {
  color: #fff !important;
  background: hsl(210,70%,38%);
  border: none;
}
.ni-btn-container.ni-btn-theme-tendermint:hover {
  background: hsl(210,70%,43%);
}
.ni-btn-container.ni-btn-theme-tendermint:active { background: hsl(210,70%,8%); }

.ni-btn-container.ni-btn-theme-cosmos {
  background: transparent;
  border: 2px solid hsl(210, 20%, 18%);
  border-radius: 0.25rem;
  color: hsl(210, 32%, 50%) !important;
  font-family: 'DIN', -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 0.75rem !important;
  font-weight: 500;
  height: 2rem;
  padding: 0 1rem;
  text-transform: uppercase;
}
.ni-btn:hover .ni-btn-container.ni-btn-theme-cosmos,
.ni-btn:focus .ni-btn-container.ni-btn-theme-cosmos {
  border-color: hsl(210,26%,36%);
}
.ni-btn:active .ni-btn-container.ni-btn-theme-cosmos,
.ni-btn.router-link-active .ni-btn-container.ni-btn-theme-cosmos {
  color: hsl(210,32%,86%) !important;
  border-color: hsl(210,26%,36%);
}
